<%- include("partials/header") %>

<div class="ui main text container segment">

    <!-- Blog form -->
    <div class="ui huge header"><%= blog.title %> </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.img_url %>" alt="<%= blog.title + "image" %> ">
            <div class="content">
                <span><%= blog.date.toDateString() %> </span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
        </div>
    </div>

    <!-- Action buttons -->
    <a href="/blogs/<%= blog._id %>/edit" >
        <button class="ui green big basic button">Edit</button>
    </a>
    <form id="deleteForm" action="/blogs/<%= blog._id %>?_method=DELETE" method="post">
        <button class="ui red big basic button">Delete</button>
    </form>

</div>

<%- include("partials/footer") %>